.footer__contact {
  position: absolute;
  width: 290px;
  left: 0px;
}

.footer__contact h2 {
  position: absolute;
  width: 290px;
  height: 90px;
  left: calc(50% - 278px / 2 - 0px);
  top: 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer__contact ul {
  margin: 0;
  padding: 0;
  padding-top: 130px;
}

.footer__contact li {
  display: inline-flex;
  align-items: center;
  margin: 0.5em;
  width: 251px;
  height: 32px;
  padding: 8px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-left: 0;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}

.footer__contact a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-left: 20px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}
