@font-face {
    font-family: 'Arial';
    src: local('Arial Black'), local('Arial-Black'),
        url('Arial-Black.woff2') format('woff2'),
        url('Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Bold Italic'), local('Arial-BoldItalicMT'),
        url('Arial-BoldItalicMT.woff2') format('woff2'),
        url('Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Bold'), local('Arial-BoldMT'),
        url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Italic'), local('Arial-ItalicMT'),
        url('Arial-ItalicMT.woff2') format('woff2'),
        url('Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: local('Arial Narrow'), local('ArialNarrow'),
        url('ArialNarrow.woff2') format('woff2'),
        url('ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: local('Arial Narrow Bold Italic'), local('ArialNarrow-BoldItalic'),
        url('ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: local('Arial Narrow Bold'), local('ArialNarrow-Bold'),
        url('ArialNarrow-Bold.woff2') format('woff2'),
        url('ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: local('Arial Narrow Italic'), local('ArialNarrow-Italic'),
        url('ArialNarrow-Italic.woff2') format('woff2'),
        url('ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), local('ArialMT'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Georgia';
    src: local('Georgia Bold'), local('Georgia-Bold'),
        url('Georgia-Bold.woff2') format('woff2'),
        url('Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia Bold Italic'), local('Georgia-BoldItalic'),
        url('Georgia-BoldItalic.woff2') format('woff2'),
        url('Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'),
        url('Georgia.woff2') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia Italic'), local('Georgia-Italic'),
        url('Georgia-Italic.woff2') format('woff2'),
        url('Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
