.about__content-subheading{
    position: absolute;
width: 430px;
height: 96px;
left: 0px;
top: 115px;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: #4C4C4C;
}