.footer__location{
    position: absolute;
    width: 302px;
    left: 438px;
}

.footer__location h2 {
    position: absolute;
    width: 270px;
    height: 90px;
    left: calc(50% - 270px/2 - 15px);
    top: 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__location ul {
    margin: 0;
  padding: 0;
  padding-top: 130px;
}

.footer__location li {
    display: inline-flex;
    align-items: center;
    margin: 0.5em;
    width: 300px;
    height: 32px;
    padding: 8px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-left: 0;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    text-decoration: none;
}

.footer__location a {
    font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin-left: 20px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
}