.screen__buttom {
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
gap: 10px;
margin-top: 42px;
width: 207px;
height: 52px;
left: calc(50% - 207px/2 - 126.5px);
bottom: 0px;
background: #F1CDB3;
border-radius: 100px;
}

.screen__buttom:hover{
    background: #FDDCC4;
}